/* #content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
} */


.container {
    width: 100%;
    line-height: 0px;
}
  
.container div {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    height: 100%;
}
  
div.left {
    outline: 2px solid pink;
    height: 100%;
    width: 40%;
    float:left;
    margin: 5%;
  }
  
div.right {
    outline: 2px solid orange;
    height: 100%;
    width: 40%;
    float:right;
    margin: 5%;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    margin: auto;
}
.title-style{
    font-family:Fantasy;
    text-align:center;
}

#logout {
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: beige;   
    font-family: Montserrat;
    font-weight: 900;
    font-size: 12px;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}
