.container {
    width: 100%;
    line-height: 0px;
}
  
.container div {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    height: 100%;
}
  
div.left {
    outline: 2px solid pink;
    height: 100%;
    width: 40%;
    float:left;
    margin: 5%;
  }
  
div.right {
    outline: 2px solid orange;
    height: 100%;
    width: 40%;
    float:right;
    margin: 5%;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    margin: auto;
}
.title-style{
    font-family:Fantasy;
    text-align:center;
}

.portrait {
    height: 80px;
    width: 30px;
}
  
.search-wrapper {
    display:flex;
    flex-direction:column;
    gap: 0.25rem;
}

.input{
    font-size: 1rem;

}

.user-cards {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
    gap:.25rem;
    margin-top: 1rem;
}

.card{
    border: 1 px  solid black;
    padding: .5rem;
}

.card > .hearder {
    margin-bottom: .25rem;
}

.card > .location {
    font-size: .8 rem;
    color: gray;
}

.hide {
    display: none;
}


